@import "../standards.css";
.form {
    background: var(--primary-darker);
    width: 497px;
    max-width: 100vw;
}

.flex-container {
    width: 100%;
}

h4, s2{
    color: var(--text-white);
    margin: 8px;
}

s2{
    margin-left: 32px;
}

.contactUs {
    background: var(--primary-darker);
}

h2,h6, b1{
    color: var(--text-white);
    margin: 0px;
    /*margin: 8px;*/
}