@import "../standards.css";
.form {
    background: var(--primary-darker);
    width: 497px;
    max-width: 100vw;
}

.flex-container {
    width: 100%;
}

h4, s2{
    color: var(--text-white);
    margin: 8px;
}

s2{
    margin-left: 32px;
}