.container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: fit-content;
    width: 577px;
}

.headtext {
    width: 100%;
    margin:0px !important;
    position: relative;
    right: 4px;
}

.subtext {
    color: var(--secondary-main);
    margin: 0;
    margin-top: 26px;
    width: 60%;
}

.subtext2 {
    color: var(--secondary-main);
    margin: 0;
    margin-top: 26px;
    width: 80%;
}

.subtext3 {
    color: var(--secondary-main);
    position: relative;
    margin: 0;
    margin-top: 26px;
    width: 50%;
    padding: 0;
    align-content: flex-end;
}

.subtext32 {
    position: absolute;
    left: 0px;
    bottom: -8px;
    color: var(--secondary-main);
}

.headtext3 {
    width: 60%;
    /*min-width: 266px;*/
    margin:0px !important;
    padding: 0;
}

.spacer {
    height: 18px;
    width: 60%;
}

.actionButton {
    margin: 0;
    margin-top: 24px;
    max-width: fit-content;

    color: var(--secondary-main);
    text-align: center;
    /* Button text */
    font-family: Hanken Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */

    border-radius: 30px;
    border: 2px solid var(--secondary-main);
    background: var(--text-white);

    display: inline-flex;
    padding: 6px 23px;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    text-decoration: none;
}

.actionButton:hover {

}

.heroImage{
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    /*image-rendering: -webkit-optimize-contrast; !* Webkit (non-standard naming) *!*/
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */

    height: 322px;
    flex-shrink: 0;

    border-radius: 30px;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 92px;
}

.Cont {
    padding-left: 31px;
    padding-right: 31px;
}

li.slick-active > button::before {
    color: red !important;
}

.ft-slick__dots--custom {
    height: 8px;
    width: 8px;
    background-color: #DADADA;
    border-radius: 4px;
    position: relative;
    top: 10px;
    margin: 4px;
}

.ft-slick__dots--custom:hover {
    background-color: var(--secondary-main);
}

.slick-active .ft-slick__dots--custom {
    background-color: var(--primary-main);
    width: 14px;
}

.slick-dots {
    position: relative !important;
    bottom: -5px !important;
}

.slick-dots li {
    margin: 0 !important;
    padding: 0 !important;
    width: fit-content !important;
}

/*.ft-slick__dots--custom:hover {*/
/*    height: 8px;*/
/*    width: 14px;*/
/*    background-color: var(--primary-main);*/
/*    border-radius: 4px;*/
/*    position: relative;*/
/*    top: 10px;*/
/*}*/

.slick-dots li > button{
    /*line-height: 50px !important;*/
    width: 8px !important;
    height: 8px !important;
    content: '' !important;
    text-align: center;
    opacity: 1 !important;
    /*scale: 2;*/
    color: #DADADA !important;
    background: #DADADA;
    border-radius: 100px;
}

.sliderCard{
    outline: none !important;
}

.heroImageContainer {
    margin-left: auto;
    margin-right: 0;
}

.heroImageContainer, .heroImage {
    width: 530px;
}

.heroImageContainer .slick-arrow {
    display: none;
}
