#Capabilities {
    /*64px + (64px - 28px)/2*/
    margin-top: -82px;
}

.blueBox{
    background: var(--primary-dark);
    border-radius: 30px;
    position:absolute;
    outline: 1px solid var(--text-white);
    /*padding: 5%;*/
}

.mobileBox{
    position: relative !important;
    margin-bottom: 16px;
}

.whiteBox{
    background: var(--text-white);
    border-radius: 30px;
    position:absolute;
    border: 1px solid var(--primary-light);
}

.SaaS-solution{
    width:99.85%;
    height:31.35%;
}

#Capabilities .text{
    color: var(--text);
    padding: 0;
    margin: 0;
}

.text{
    color: var(--text);
}

.headerText{
    text-align: center;
    margin-bottom: 75px;
    color: var(--text);
}

#Capabilities .CapHolder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
}