.bigNumber{
    color:  rgba(31, 159, 232, 0.24);
    font-size: 200px !important;
    font-style: normal !important;
    font-weight: 800 !important;
    line-height: normal;
    flex:1;
}

.shifted{
    position:relative;
    right: 3.5%;
}

.blocker{
    flex: 1;
    height: 60%;
    background-color: var(--primary-darker);
    margin-left: 20px;
}

.subText{
    color: var(--primary-lighter);
    margin: 0;
}

.description{
    padding: 0;
    margin: 0 0 8px;
}

.dif-container{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
}

.backdroper{
    background: var(--primary-darker);
    border-radius: 0 50px 50px 0;
    display: flex;
    flex-direction: column;
}

.colorFill{
    position: absolute;
    width: 20%;
    height: 100%;
    left: -20%;
    top: 0;
    background: var(--primary-darker);
}