@import "standards.css";
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;600;700;800&display=swap');

body, html {
  font-family: "Hanken Grotesk", Helvetica, sans-serif;
}

/** Common vars - to rewrite by a certain screen-resolution */
:root {
  --center-margin-size-x: 0px;
}

/** Mobile: All Mobiles */
@media screen and (max-width: 480px){
  :root {
    --center-margin-size-x: 20px;
  }
}

/** Tablet: All Other Pads and small screens */
@media screen and (min-width: 481px) and (max-width: 1024px){
  :root {
    --center-margin-size-x: 20px;
  }
}

/** Laptop: regular screens */
@media screen and (min-width: 1025px) and (max-width: 1200px){
  :root {
    --center-margin-size-x: 38px;
  }
}

/** Laptop: large screen resolutions */
@media screen and (min-width: 1201px) {
  :root {
    --center-margin-size-x: 138px;
  }
}

/*#Mobile (up to 480px)*/
/*#Ipad / Small Screens (from 481px to 1024px)*/
/*#Desktop / Large Screens (from 1024px)*/

/** Common Styles - to rewrite by a certain screen-resolution */
body {
  margin-left: auto;
  margin-right: auto;
}

.centerIt {
  margin-left: var(--center-margin-size-x);
  margin-right: var(--center-margin-size-x);
  /*width: 81%;*/
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bgAble {
  background-repeat: no-repeat !important;
  background-size: 100% !important;
}

.flex-container {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex: 1 1 auto;
}

.flex-col-jv {
  align-items: center;
}

.flex-col-jh {
  justify-content: center;
}

.flex-col {
  flex: 1 1 auto;
  display: flex;
}

.flex-col-50 {
  width: 50%;
}

.App-link {
  color: #61dafb;
}

.section-header {
  width: 100%;
  margin-top: 43px;
}

.margin-100 {
  margin-top: 100px;
}

.margin-120 {
  margin-top: 120px;
}

.margin-125 {
  margin-top: 125px;
}

.pointer {
  cursor: pointer;
}


/** Mobile: All Mobiles */
@media screen and (min-width: 320px) and (max-width: 480px) {
  body {
    min-width: 320px;
    max-width: 480px;
  }

  .section-header {
    margin-top: 20px;
  }
}


/** Mobile: All Mobiles */
@media screen and (max-width: 480px) {
  body .textPrompt,
  body .paragraphPrompt {
    margin: 16px 0px;
    width: 100%;
    box-sizing: border-box;
  }

  body .PrimaryButton,
  body .SecondaryButton {
    margin: 0;
  }
}

/** Mobile: All Mobiles below iphone 14 */
@media screen and (min-width: 320px) and (max-width: 389px) {

}

/** Mobile: Iphone 14 ... @todo: i am not sure if it is right way .... */
@media screen and (max-width: 480px) and (min-width: 390px) {
}


/** Tablet: All Other Pads and small screens */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  /** @todo: ... */
  body {
    min-width: 480px;
    max-width: 1024px;
  }
}

/** Laptop: regular screens + large screen resolutions */
@media screen and (min-width: 1025px) {
}

/** Laptop: regular screens */
@media screen and (min-width: 1025px) and (max-width: 1200px){
  /** @todo: ... */
  body {
    min-width: 1024px;
    max-width: 1024px;
  }
}

/** Laptop: large screen resolutions */
@media screen and (min-width: 1201px) {
  body {
    min-width: 1200px;
    max-width: 1440px;
  }
}
