@import "standards.css";
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;600;700;800&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.bufferSizeZone {
  height: 100%;
  width: 9.5%;
}

.centerIt {
  margin-left: 9.5%;
  margin-right: 9.5%;
  width: 81%;
}

#footer {
  /*min-height: 100vh;*/
  min-height: 519px;
  margin-top: 220px; /* @todo */

  width: 100%;
  bottom: 0;
  display: block;

  /*flex-direction: column;*/

  /** background */

  background-repeat: no-repeat;
  background-size: 100%;

  /** fonts */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body, html {
  font-family: "Hanken Grotesk", Helvetica, sans-serif;
}
